$black-color: #222121;
$blue: #0080E2;
$green: #0CBA00;
$yellow: #F9CC00;
$red: #E80013;
$orange: #FF7B00;
$pink: #FF38CA;


//choose the color page
:root{
    --pink: #FF38CA;
    --blue: #0080E2;
    --green: #0CBA00;
    --orange: #FF7B00;
    --yellow: #F9CC00;
    --red: #E80013;
}