.message-error{
    color: white;
    background-color: $red;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.message-succes{
    color: white;
    background-color: $green;
    width: 100%;
    padding: 10px;
    text-align: center;
}